// main: ../index.less

.modal__close {
    z-index: 1;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
  
    &:hover .modal__pleace-img {
      background-color: @black;
      box-shadow: 0 0 5px fade(@black, 100%);
      transform: scale(1.1);
    }
  
    &:hover .modal__close-img-icon {
      fill: @white;
      background-image: red;
    }
  
    &:hover .modal__close-img {
      transform: rotate(180deg);
    }
  }

  .modal__pleace-img {
    border: 1px solid @black;
    border-radius: 50%;
    transition: all 0.7s ease;
    box-shadow: 0 0 3px fade(@black, 100%);
    transform: scale(0.95);
  }
  
  .modal__close-img {
    transition: all 0.7s ease;
    display: flex;
    height: 17px;
    width: 17px;
    padding: 0.3rem;
    cursor: pointer;
  }
  
  .modal__close-img-icon {
    transition: ease 0.7s all;
    transform: scale(1);
  }