// main: ../index.less

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.todo__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}

.todo__inner {
  border: 2px solid @black;
  border-radius: 2rem;
}

.todoitem__new-input {
  display: inline-block;
  position: relative;
  border: 1px solid #6a696b;
  transition: all 0.2s ease;
}

.todoitem__new-input:hover {
  transition: all 0.2s ease;
  border-color: @black;
}

.container {
  display: block;
  user-select: none;
}

.container input {
  opacity: 0;
  height: 0;
  width: 0;
}

.todoitem__new-input:hover {
  background-color: fade(green, 20%);
}

.container input:checked + .todoitem__new-input {
  background-color: green;
}

.todoitem__new-input:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked + .todoitem__new-input:after {
  display: block;
}

.container .todoitem__new-input:after  {
  left: 4.6px;
  bottom: 3px;
  width: 4px;
  height: 11px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}